@import url('https://fonts.googleapis.com/css?family=Mountains+of+Christmas:100,200,300,400,500,600,700|Dancing+Script:100,200,300,400,500,600,700&display=swap');

/* Background style*/

* {
  box-sizing: border-box;
}

html {
    min-height: 100vh;
}

body {
    margin: 0;
    background: radial-gradient(#ffffff, #ff0000);
}

/* Title & Game Info position, size and style */

.title {
    color: #00B32C;
    font-family: 'Mountains of Christmas', 'Dancing Script';
    font-weight: normal;
    text-align: center;
    font-size: 6em;
}

.instructions{
    color: #00B32C;
    font-family: 'Mountains of Christmas', 'Dancing Script';
    font-weight: normal;
    text-align: center;
    font-size: 2em;
}

.game-info-container {
    grid-column: 1 / -1;
    display: flex;
    justify-content: space-between;
}

.game-info {
    font-family: 'Mountains of Christmas', 'Dancing Script';
    color: #0DEF42;
    font-size: 4em;
}

/* Cards - grid, pic placement on front and back with styling */

.game-container {
    display: grid;
    grid-template-columns: repeat(4, auto);
    grid-gap: 10px;
    margin: 50px;
    justify-content: center;
    perspective: 500px;
}

.card {
    position: relative;
    height: 175px;
    width: 125px;
}

.card-face {
    position: absolute;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    backface-visibility: hidden;
    border-radius: 12px;
    border-width: 1px;
    border-style: solid;
    transition: transform 500ms ease-in-out;
}

.card.visible .card-back {
    transform: rotateY(-180deg);
}

.card.visible .card-front {
    transform: rotateY(0);
}

.card.matched .card-pic {
    animation: dance 1s linear infinite 500ms;
}

@keyframes dance {
    0%, 100% {
        transform: rotate(0);
    }
    25% {
        transform: rotate(-25deg);
    }
    75% {
        transform: rotate(25deg);
    }
}

.card-back {
    background-color: #00B32C;
    border-color: black;
}

.card-front {
    background-color: white;
    transform: rotateY(180deg);
}

.card-pic {
    height: 120px;
    width: 100px;
    transition: transform 100ms ease-in-out;
    transform: scale(.9);
}

.card-front:hover .card-pic {
    transform: scale(1);
}

.santa {
    height: 100px;
    width: 100px;
    transition: width 100ms ease-in-out, height 100ms ease-in-out;
}

.card-back:hover .santa {
    width: 105px;
    height: 105px;
}
/* Overlay text and position */

.overlay-text {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    z-index: 100;
    color: #00B32C;
    font-family: 'Mountains of Christmas', 'Dancing Script';
    transition: background-color 500ms, font-size 500ms;
}

.overlay-text-small {
    font-size: .3em;
}

.overlay-text.visible {
    display: flex;
    animation: overlay-grow 500ms forwards;
}

@keyframes overlay-grow {
    from {
        background-color: rgba(0, 0, 0, 0);
        font-size: 0;
    }
    to {
        background-color: rgba(0, 0, 0, .8);
        font-size: 10em;
    }
}

@media (max-width: 600px) {
    .game-container {
        grid-template-columns: repeat(2, auto);
    }
    .game-info-container {
        flex-direction: column;
        align-items: center;
    }
}